body {
  background-color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

ul.a {
  list-style-type: none;
  padding: 0;
}

ul.b {
  list-style-type: square;
}

h3.a {
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: blue;
}

#container {
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: cadetblue;
  color: white;
  text-align: center;
  padding: 10px;
}

#content {
  padding: 12px;
}

#nav {
  width: 142px;
  float: left;
  padding: 6px;
}

#bio {
  width: 426px;
  font-size: 12pt;
  float: left;
  padding: 6px;
}

#picture {
  width: 284px;
  float: right;
  background-color: lightgray;
}

#footer {
  clear: both;
  text-align: right;
  background-color: lightgray;
  color: white;
}
